{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;}

/*Estilo general*/
body{
    background: #362c2c;
    color: white;
    padding: 20px;
    text-align: center;
}

/*Menu*/
nav ul{
    list-style: none;
    background-color: #22c55e;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a {
    color:#22c55e;
    text-decoration: none;
    front-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}
/*contenido principal*/
main{
    padding: 20px;
    max-width:900px;
    margin:auto;
}
/*Footer*/
footer{
    background-color: #22c55e;
    color: #362c2c;
    text-align: center;
    padding: 10px;
margin-top: 20px;}
