{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;}

/*Estilo general*/
body{
    background: #f2f2f2;
    color: white;
    padding: 20px;
    text-align: center;
}

/*Menu*/
nav ul{
    list-style: none;
    background-color: #22c55e;
    display: flex;
    justify-content: center;
}